<!DOCTYPE html>
<html>
	<head>
		<title>pse</title>
		<link href="{{ url_for('static', path='/css/home.css') }}" rel="stylesheet">
		<script src="https://kit.fontawesome.com/fc383a6465.js" crossorigin="anonymous"></script>
	</head>

	<body>
		<nav>
			<h4><a href="/home"> Python is So Easy </h4>
			<ul>
				<li><a href="header10.html">dashboard</a></li>
				<li><a href="header10.html">homework</a></li>
				<li><a href="/comm">community</a></li>
				<li><a href="header10.html">about</a></li>
				<li><a href="header10.html">contact</a></li>
				<li><a href="/">logout</a></li>
			</ul>
		</nav>
        <div class="main">
			<h2>여기에는 대시보드 넣기</h2>
			<span class="emotion">:-)</span>
		 </div> 
	</body>
</html>