<link href="{{ url_for('static', path='/css/start.css') }}" rel="stylesheet">
<header class="header">
    <div class="brand-box">
      <span class="brand">Python is So Easy</span>
    </div>
    
    <div class="text-box">
      <h1 class="heading-primary">
        <span class="heading-primary-main">PSE에 대한 소개글 쓰기</span>
        <span class="heading-primary-sub">뭐라고 써야 간지가 날까?</span>
      </h1>
      <a href="/login" class="btn btn-white btn-animated">Join Us</a>
    </div>
  </header
  </html>